/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #666;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
  font: 16px/26px "Open Sans", Helvetica, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  letter-spacing: 0.225em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}


/* header */

.header-container {
  background: #2e3842;
  height: 3em;
  line-height: 3em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.title {
  color: white;
  margin-left: 1.25em;
  font: inherit;
  height: inherit;
  line-height: inherit;
  font-weight: 800;
}


/* main container */

.main-container {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/keg.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/keg.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/keg.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/keg.jpg");
  background-attachment: fixed;
  background-position: center 3em;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
}


/* banner */

#banner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: auto;
  cursor: default;
  height: 100vh;
  width: 33vw;
  max-width: 290px;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}

#banner h2 {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  display: inline-block;
  font-size: 1.75em;
  opacity: 1;
  padding: 0.35em 1em;
  position: relative;
  z-index: 1;
  color: white;
}

#banner h2:before, #banner h2:after {
  background: #fff;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}

#banner h2:before {
  top: 0;
  left: 0;
}

#banner h2:after {
  bottom: 0;
  right: 0;
}

#banner p {
  letter-spacing: 0.225em;
  text-transform: uppercase;
}

#banner .more {
  border: none;
  bottom: 0;
  color: inherit;
  font-size: 0.8em;
  height: 8.5em;
  left: 50%;
  letter-spacing: 0.225em;
  margin-left: -8.5em;
  opacity: 1;
  outline: 0;
  padding-left: 0.225em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 16em;
  z-index: 1;
}

#banner .more:after {
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 4em;
  content: '';
  display: block;
  height: 1.5em;
  left: 50%;
  margin: 0 0 0 -0.75em;
  position: absolute;
  width: 1.5em;
}

/* Sections */

section.wrapper {
  width: 100%;
  background-color: #ddd;
  padding: 60px 0;
  margin: 0;
  text-align: center;
}

.wrapper header h2 {
  margin: 10px 0 30px;
  padding: 10px 0 40px;
  position: relative;
}

.wrapper header h2:after {
  background: #888;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  width: 10%;
  bottom: 0;
  margin-left: 45%;
  padding: 0;
}

.section-column-container {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: auto;
}

.section-column {
  width: 30%;
  border-radius: 5px;
  margin: 25px 30px 0;
  padding: 15px;
  background-color: #eee;
}

.section-column img {
  width: 200px;
  height: 200px;
}

section.light-section {
  background-color: #eee;
}

section.light-section .section-column {
  background-color: #ddd;
}

.avatar {
    margin-bottom: 20px;
}

img.avatar {
  border-radius: 50%;
}

/* footer */

.footer-container {
  background-color: rgba(29, 36, 42, 0.9);
  height: 5em;
  line-height: 5em;
  margin: auto;
  width: 100%;
}

.footer-container h3 {
  color: white;
  margin-left: 1.25em;
  font: inherit;
  height: inherit;
  line-height: inherit;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin: 0 3em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
