/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #666;
  font-size: 1em;
  line-height: 1.4;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

body {
  font: 16px/26px "Open Sans", Helvetica, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  letter-spacing: 0.225em;
  line-height: 1em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
}


/* header */

.header-container {
  background: #2e3842;
  height: 3em;
  line-height: 3em;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.title {
  color: white;
  margin-left: 1.25em;
  font: inherit;
  height: inherit;
  line-height: inherit;
  font-weight: 800;
}


/* main container */

.main-container {
  background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/keg.jpg");
  background-attachment: fixed;
  background-position: center 3em;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3em;
}


/* banner */

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  cursor: default;
  height: 100vh;
  width: 33vw;
  max-width: 290px;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
}

#banner h2 {
  display: inline-block;
  font-size: 1.75em;
  opacity: 1;
  padding: 0.35em 1em;
  position: relative;
  z-index: 1;
  color: white;
}

#banner h2:before, #banner h2:after {
  background: #fff;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}

#banner h2:before {
  top: 0;
  left: 0;
}

#banner h2:after {
  bottom: 0;
  right: 0;
}

#banner p {
  letter-spacing: 0.225em;
  text-transform: uppercase;
}

#banner .more {
  border: none;
  bottom: 0;
  color: inherit;
  font-size: 0.8em;
  height: 8.5em;
  left: 50%;
  letter-spacing: 0.225em;
  margin-left: -8.5em;
  opacity: 1;
  outline: 0;
  padding-left: 0.225em;
  position: absolute;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 16em;
  z-index: 1;
}

/* Sections */

section.wrapper {
  width: 100%;
  background-color: #ddd;
  padding: 60px 0;
  margin: 0;
  text-align: center;
}

.wrapper header h2 {
  margin: 10px 0 30px;
  padding: 10px 0 40px;
  position: relative;
}

.wrapper header h2:after {
  background: #888;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  width: 10%;
  bottom: 0;
  margin-left: 45%;
  padding: 0;
}

.section-column-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.section-column {
  width: 30%;
  border-radius: 5px;
  margin: 25px 30px 0;
  padding: 15px;
  background-color: #eee;
}

section.light-section {
  background-color: #eee;
}

section.light-section .section-column {
  background-color: #ddd;
}

.avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

img.avatar {
  border-radius: 50%;
}

/* footer */

.footer-container {
  background-color: rgba(29, 36, 42, 0.9);
  height: 5em;
  line-height: 5em;
  margin: auto;
  width: 100%;
}

.footer-container h3 {
  color: white;
  margin-left: 1.25em;
  font: inherit;
  height: inherit;
  line-height: inherit;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin: 0 3em;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1140px) {

}

/* Beer container */

#beer-container {
  height: 250px;
  margin: 200px auto;
  overflow: hidden;
  position: relative;
  width: 248px;
}

#beer-container div {
  position: absolute;
}

#beaker {
  border: 10px solid #FFF;
  border-top: 0;
  border-radius: 0 0 30px 30px;
  height: 200px;
  left: 14px;
  bottom: 0;
  width: 200px;
}

#beaker:before,
#beaker:after {
  border: 10px solid #FFF;
  border-bottom: 0;
  border-radius: 30px 30px 0 0;
  content: '';
  height: 30px;
  position: absolute;
  top: -30px;
  width: 30px;
}

#beaker:before { left: -50px; }
#beaker:after { right: -50px; }

#liquid {
  background-color: #edaf32;
  border: 10px solid #edaf32;
  border-radius: 0 0 20px 20px;
  bottom: 0;
  /*height: 0px;*/
  height: 170px;
  overflow: hidden;
  width: 180px;
}

#liquid:after {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: -10px;
  content: '';
  height: 200px;
  left: -40px;
  position: absolute;
  transform: rotate(30deg);
  width: 110px;
}

#liquid .bubble {
  animation-name: bubble;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-color: rgba(255, 255, 255, 0.2);
  bottom: 0;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

@keyframes bubble {
  0% { bottom: 0; }

   50% {
     background-color: rgba(255, 255, 255, 0.2);
      bottom: 80px;
   }

   100% {
     background-color: rgba(255, 255, 255, 0);
      bottom: 160px;
   }
}

.bubble1 {
  left: 10px;
  animation-delay: 1000ms;
  animation-duration: 1000ms;
}

.bubble2 {
  left: 50px;
  animation-delay: 700ms;
  animation-duration: 1100ms;
}

.bubble3 {
  left: 100px;
  animation-delay: 1200ms;
  animation-duration: 1300ms;
}

.bubble4 {
  left: 130px;
  animation-delay: 1100ms;
  animation-duration: 700ms;
}

.bubble5 {
  left: 170px;
  animation-delay: 1300ms;
  animation-duration: 800ms;
}

/* Foam */

.beer-foam {
  position: absolute;
  /*bottom: 10px;*/
  bottom: 200px;
}

.foam-1, .foam-2, .foam-3, .foam-4,
.foam-5, .foam-6, .foam-7 {
  float: left;
  position: absolute;
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: #fefefe;
}
.foam-1 {
  top: -30px;
  left: -10px;
}
.foam-2 {
  top: -35px;
  left: 20px;
}
.foam-3 {
  top: -25px;
  left: 50px;
}
.foam-4 {
  top: -35px;
  left: 80px;
}
.foam-5 {
  top: -30px;
  left: 110px;
}
.foam-6 {
  top: -20px;
  left: 140px;
}
.foam-7 {
  top: -30px;
  left: 160px;
}
